@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본설정 */
@layer base {
  :root {
    @apply box-border px-4 desktop:px-5;
  }

  .dark {
  }
}

/* CSS 변수를 사용한 선언 */
@layer base {
  :root {
  }

  .dark {
  }
}

/* 사용자 정의 css 유틸리티 레이어보다 보다 컴포넌트 할 수있는것들 정의 button, card */
@layer components {
}
/* 사용자 정의 css 컴포넌트 레이어보다는 세분화 할수 있는 것들 정의  color, margin, padding*/
@layer utilities {
  .mainGradient {
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(4, 75, 59, 0.3) 0%,
      rgba(12, 116, 117, 1) 90%
    );
  }
  .subGradient {
    background: rgba(7, 122, 97, 0.8);
  }
  .glassMorphism {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background: rgba(7, 122, 97, 0.3);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
  }
}
